<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'ssf/css/main.css' %}" type="text/css">

    <title>{% block title %} Senator Seed Fund {% endblock %}</title>
</head>
<body>

{% block navigation %}
<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <div>
                    <a href={% url 'index' %}><img src="{% static 'ssf/img/gym.jpg' %}" width="50" height="50"></a>
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}" id="brand">Senator Seed Fund</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="navbar-links"><a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

<div class="container-fluid">
    <div  class="row profile">
        <div class="col-lg-3 col-md-3">
            {% block profile %}
            <div id="profile" class="profile-sidebar" style="position:fixed">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{{ my_profile.image_url }}" class="img-responsive" alt="Profile Picture Here">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{my_profile.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{my_profile.programme}} <br> {{my_profile.department}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <table class="table table-striped table-hover ">

                        <tbody>

                        <tr>
                            <td id="topic">Roll No.</td>
                            <td>{{my_profile.roll_no}} </td>
                        </tr>
                        <tr>
                            <td id="topic">Address</td>
                            <td>{{my_profile.room_no}} , Hall-{{my_profile.hall}}</td>
                        </tr>
                        <tr>
                            <td id="topic">Contact No.</td>
                            <td>{{ my_profile.contact }}</td>
                        </tr>
                        <tr>
                            <td id="topic">Email ID</td>
                            <td>{{my_profile.user}}@iitk.ac.in</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END MENU -->
            </div>
            {% endblock %}
        </div>
        <div class="col-lg-8 col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>