{% extends 'base.html' %}

{% block content %}
    <br><br>

    {% if gbm_user %}
        <div>
            <a href="{% url 'ssf_create' %}"><h2>Create a New SSF</h2></a>
        </div>
    {% endif %}


    <div>
        <a href="{% url 'open_ssf' %}"><h2>View Open SSF</h2></a>
    </div>

    <br>
    {% if gbm_user %}
        <div>
            <h2>Forms Created by You</h2>


                {% for ssf in ssf_forms %}
                    <div class="container">
                        <div class="row">
                            <p>Name: {{ ssf.activity_name }}</p>
                            <p>Status: {{ ssf.status }}</p>
                            <div>
                                <form action="{% url 'ssf_update' ssf.pk %}" method="get">
                                    <div>
                                        <input type="submit" value="Edit">
                                    </div>
                                </form>
                                <a href="{% url 'send_to_parent' ssf.pk %}">
                                    <div class="btn btn-primary">
                                        Send To Your Council Head
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    {% endif %}

    <!-- Approval by the respective council head -->

    <div>
        <h2>SSFs requiring your approval</h2>
    </div>

    {% for ssf in approvals %}
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Name: {{ ssf.activity_name }}</p>
                <p>Created by: {{ ssf.created_by }}</p>
            </div>
            <div>
                <a href="{% url 'send_to_chair' ssf.pk %}">
                    <div class="btn btn-warning">
                        Send to Chair
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}

    <!-- Chairperson Approval -->

    {% if chair %}
        <div>
            <h2>Final Approval By Chairperson</h2>
        </div>

        {% for ssf in chair_ssf %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Name: {{ ssf.activity_name }}</p>
                    <p>Requested By: {{ ssf.created_by }}</p>
                    <p>Council: {{ ssf.council }}</p>
                    <div>
                        <a href="{% url 'start_ssf_funding' ssf.pk %}">
                            <div class="btn btn-warning">
                                Approve
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        {% endfor %}
    {% endif %}

{% endblock %}