{% extends 'base.html' %}

{% block content %}
    <br><br>
    <div>
        <a href="{% url 'ssf_create' %}"><h2>Create a New SSF</h2></a>
    </div>
    <div>
        <a href="{% url 'open_ssf' %}"><h2>View Open SSF</h2></a>
    </div>

    <br>

    <div>
        <h2>Forms Created by You</h2>


            {% for ssl in ssf_forms %}
                <div class="container">
                    <div class="row">
                        <p>Name: {{ ssl.activity_name }}</p>
                        <p>Status: {{ ssl.status }}</p>
                        <div>
                            <form action="{% url 'ssf_update' ssl.pk %}" method="get">
                                <div>
                                    <input type="submit" value="Edit">
                                </div>
                            </form>
                            <a href="{% url 'send_to_parent' %}">
                                <div class="btn btn-primary">
                                    Send To Your Council Head
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>

    <br>
{% endblock %}