{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <br><br>

    <div class="panel panel-default">
        {% for ssf in funds %}
            <div class="panel-body">
                <h5>Name: {{ ssf.activity_name }}</h5>
                <p>Max Amount: {{ ssf.ssf }}</p>
                <p>Amount contributed by senators: {{ ssf.amount_given }}</p>

                {% if True %}
                    <form action="{% url 'contribute_money' ssf.pk %}" method="post">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <input class="btn btn-success" type="submit" value="Contribute">
                    </form>
                {% endif %}

            <p>{{ message }}</p>

                {% if request.user == 'financial_convener' or request.user == 'chairperson' %}
                    <a href="{% url 'close_ssf' %}">
                        <div class="btn btn-danger">
                            Close SSF
                        </div>
                    </a>
                {% endif %}


            </div>
        {% endfor %}
    </div>
{% endblock %}