{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <br><br>

    <div>
        <h2>List Of Senators</h2>
    </div>

    <br>

    <div class="text-center">
        <div class="btn-group">
            <button class="btn btn-secondary btn-danger dropdown-toggle" style="width: auto" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Add a Senator
                <i class="fa fa-caret-down  fa-lg" aria-hidden="true"></i>
            </button>
             <div class="dropdown-menu " role="menu">
                 <form action="" method="post" style="display: inline">
                     {% csrf_token %}
                     <p>{{form|bootstrap}}</p>
                     <input class="btn btn-success btn-block" type="submit" value="submit" />
                 </form>
             </div>
        </div>
    </div>

    {% for senator in senators %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Name: {{ senator.user }}</h4>
                <p>Batch: {{ senator.session }}</p>
                <form action="{% url 'banish_senate' senator.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" value="Remove">
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}